@using FarmersMarketApp.ViewModels.OrderViewModels
@using FarmersMarketApp.Common.Enums
@model ManageUserOrdersViewModel

@{
	var openOrder = Model.Orders.FirstOrDefault(o => o.Status == Status.Open);
	var completedOrders = Model.Orders.OrderByDescending(o => o.CreateDate).Where(o => o.Status == Status.Completed);
	var cancelledOrders = Model.Orders.OrderByDescending(o => o.CreateDate).Where(o => o.Status == Status.Cancelled);
	var pendingOrders = Model.Orders.OrderByDescending(o => o.CreateDate).Where(o => o.Status == Status.InProgress);
}

<div class="btn-group mb-3" role="group" aria-label="Button group with nested dropdown">
	<button type="button" class="btn btn-info" id="ordersBtn">Current order</button>
	<div class="btn-group" role="group">
		<button id="btnGroupDrop" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop" style="">
			<a class="dropdown-item text-light" href="#" id="allOrdersBtn">All orders</a>
			<a class="dropdown-item text-info" href="#" id="openOrdersBtn">Open orders</a>
			<a class="dropdown-item text-success" href="#" id="completedOrderBtn">Completed orders</a>
			<a class="dropdown-item text-danger" href="#" id="cancelledOrdersBtn">Cancelled orders</a>
		</div>
	</div>
</div>

@* OPEN ORDERS TABLE *@
<partial name="Partials/OpenOrdersPartial" 
         model="openOrder" />

@* PENDING ORDERS TABLE *@
<partial name="Partials/HandledOrdersPartial" 
         model="@(new ManageUserOrdersViewModel() 
                {
	                Orders = pendingOrders, 
	                DefaultText = "No pending orders available.", 
	                TableId = "pendingOrdersTable",
					TableName = "Pending orders"
                })" />


@* COMPLETED ORDERS TABLE *@
<partial name="Partials/HandledOrdersPartial" 
         model="@(new ManageUserOrdersViewModel() 
                {
	                Orders = completedOrders,
	                DefaultText = "No complete orders available.", 
	                TableId = "completedOrdersTable",
					Classes = "visually-hidden",
	                TableName = "Completed orders"
                })" />

@* CANCELLED ORDERS TABLE *@
<partial name="Partials/HandledOrdersPartial" 
         model="@(new ManageUserOrdersViewModel() 
                {
	                Orders = cancelledOrders, 
	                DefaultText = "No cancelled orders available.", 
	                TableId = "cancelledOrdersTable",
	                Classes = "visually-hidden",
	                TableName = "Cancelled orders"
                })" />

@* modal for view *@
<div id="orderDetailsModal" class="modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script src="/../js/ordersTableSwitcher.js" type="module"></script>
<script src="/../js/orderDetails.js" type="module"></script>