@using FarmersMarketApp.Web.ViewModels.AdminViewModels
@model IEnumerable<FarmerInfoAdminViewModel>

@{
	var pendingFarmers = Model.Where(f => f.IsApproved == false);
	var approvedFarmers = Model.Where(f => f.IsApproved);
	ViewData["Title"] = "Manage farmers";
}

<div class="d-flex justify-content-between align-items-center" style="margin-top: 20px;">
	<h4>@ViewData["Title"]</h4>
</div>
<hr />

<partial name="Partials/ManageFarmersPartial" model="@(new ManageFarmersViewModel() { Farmers = pendingFarmers, DefaultText = "No farmers pending."})"/>

<partial name="Partials/ManageFarmersPartial" model="@(new ManageFarmersViewModel() { Farmers = approvedFarmers, DefaultText = "No farmers approved."})"/>

