@page
@using FarmersMarketApp.Services.Contracts
@using FarmersMarketApp.Web.Extensions
@model IndexModel
@inject IFarmerService FarmerService
@{
	ViewData["Title"] = "Profile";
	ViewData["ActivePage"] = ManageNavPages.Index;

	var isUserFarmer = !string.IsNullOrEmpty(await FarmerService.GetFarmerIdByUserIdAsync(User.GetId()));
}

<h3>@ViewData["Title"]</h3>
@* <partial name="_StatusMessage" for="StatusMessage" /> *@
<div class="row">
	<div class="col-md-6">
		<form id="profile-form" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
			<div class="form-floating mb-3">
				<input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
				<label asp-for="Username" class="form-label"></label>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
				<label asp-for="Input.PhoneNumber" class="form-label"></label>
				<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
			</div>
			
				<div>
					<label class="form-label mt-2" for="formFile">Upload profile picture:</label>
					<input id="formFile" name="formFile" class="form-control mb-2" aria-required="true" placeholder="optional, allowed JPG, JPEG, PNG files 2MB max size" type="File" />
					<span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
				</div>
			
			<button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
