@using FarmersMarketApp.ViewModels.OrderViewModels
@using FarmersMarketApp.Common.Enums
@using FarmersMarketApp.Services.Contracts
@using FarmersMarketApp.Web.Extensions
@model ManageFarmerOrdersViewModel
@inject IFarmerService FarmerService

@{
	var openOrders = Model.Orders.Where(o => o.Status == Status.InProgress);
	var completeOrders = Model.Orders.Where(o => o.Status == Status.Completed);
	var cancelledOrders = Model.Orders.Where(o => o.Status == Status.Cancelled);
}

<div class="btn-group mb-3" role="group" aria-label="Button group with nested dropdown">
	<button type="button" class="btn btn-info" id="ordersBtn">Pending orders</button>
	<div class="btn-group" role="group">
		<button id="btnGroupDrop" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop" style="">
			<a class="dropdown-item text-light" href="#" id="allOrdersBtn">All orders</a>
			<a class="dropdown-item text-info" href="#" id="pendingOrdersBtn">Pending orders</a>
			<a class="dropdown-item text-success" href="#" id="completedOrdersBtn">Completed orders</a>
			<a class="dropdown-item text-danger" href="#" id="cancelledOrdersBtn">Cancelled orders</a>
		</div>
	</div>
</div>


<partial name="Partials/OrderPartial" model="@(new ManageFarmerOrdersViewModel(){ Orders = openOrders, DefaultText = "No current pending orders.", TableId="pendingOrdersTable"})" />

<partial name="Partials/OrderPartial" model="@(new ManageFarmerOrdersViewModel(){ Orders = completeOrders, DefaultText = "No complete orders.", TableId="completedOrdersTable", Classes="visually-hidden"})" />

<partial name="Partials/OrderPartial" model="@(new ManageFarmerOrdersViewModel(){ Orders = cancelledOrders, DefaultText = "No cancelled orders.", TableId="cancelledOrdersTable", Classes="visually-hidden"})" />


@* modal for view *@
<div id="orderDetailsModal" class="modal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script src="~/js/farmerOrdersTableSwitcher.js" type="module"></script>
<script src="~/js/orderDetails.js" type="module"></script>