@using FarmersMarketApp.Services.Contracts
@using FarmersMarketApp.Web.Extensions
@inject IUserService userService
@{
	var userLogged = Guid.TryParse(User.GetId(), out var currentUserId);
	bool isUserFarmer = false;
	if (User.Identity.IsAuthenticated)
	{
		isUserFarmer = await userService.IsUserFarmer(currentUserId);
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Farmers Market App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FarmersMarketApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand bg-dark" asp-area="" asp-page="/Home/Index">Farmers Market</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
	                <ul class="navbar-nav flex-grow-1">
		                @if (!User.Identity.IsAuthenticated)
		                {
		                <li class="nav-item">
			                <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
		                </li>
		                <li class="nav-item">
			                <a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="All">Products</a>
		                </li>
		                <li class="nav-item">
			                <a class="nav-link text-light" asp-area="" asp-controller="Farm" asp-action="Index">Farms</a>
		                </li>
		                <li class="nav-item">
			                <a class="nav-link text-light" asp-area="" asp-controller="Farmer" asp-action="Index">Farmers</a>
		                </li>
		                <li class="nav-item">
			                <a class="nav-link text-action text-danger" asp-area="" asp-controller="Farmer" asp-action="Become"><strong>Become a farmer!</strong></a>
			            </li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="All">Products</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Farm" asp-action="Index">Farms</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-light" asp-area="" asp-controller="Farmer" asp-action="Index">Farmers</a>
							</li>
							if (!isUserFarmer)
							{
								
								<li class="nav-item">
									<a class="nav-link text-action text-danger" asp-area="" asp-controller="Farmer" asp-action="Become"><strong>Become a farmer!</strong></a>
								</li>
							}
							else
							{
								<li class="nav-item bg-dark">
									<a class="nav-link text-info" asp-area="" asp-controller="Farmer" asp-action="MyProducts"><strong>My Products</strong></a>
								</li>
								<li class="nav-item bg-dark">
									<a class="nav-link text-info" asp-area="" asp-controller="Farmer" asp-action="MyFarms"><strong>My Farms</strong></a>
								</li>
							}
						}
		                
	                </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Farmers Market App <!-- - <a asp-area="" asp-page="/Privacy">Privacy</a> -->
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>