@using Microsoft.AspNetCore.Identity
@using FarmersMarketApp.Infrastructure.Data.Models
@using FarmersMarketApp.Services.Contracts
@using FarmersMarketApp.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IFarmerService FarmerService

@{
	var currentUserId = User.GetId();
	var firstName = string.Empty;
	if (!string.IsNullOrEmpty(currentUserId))
	{
		firstName = UserManager.Users.FirstOrDefault(u => u.Id == Guid.Parse(currentUserId)).FirstName;
	}
	var isUserFarmer = await FarmerService.GetFarmerIdByUserIdAsync(User.GetId());
}

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			@if (User.Identity.IsAuthenticated && !string.IsNullOrEmpty(firstName))
			{
				<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hi, @firstName!</a>
			}
		</li>
		@if (string.IsNullOrEmpty(isUserFarmer) && !User.IsInRole("Admin"))
		{
			<li class="nav-item d-flex justify-content-center">
				<a class="nav-link text-light bg-dark" asp-controller="Order" asp-action="All">
					<i class="fa-solid fa-cart-shopping ps-1 pe-1"></i>
					<span class="px-1">My Cart</span>
				</a>
			</li>
		}
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = ""})">
				<button type="submit" class="nav-link btn btn-link text-light">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
