@using Microsoft.AspNetCore.Identity
@using FarmersMarketApp.Infrastructure.Data.Models
@using FarmersMarketApp.Services.Contracts
@using FarmersMarketApp.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService userService

@{
	var userLogged = Guid.TryParse(User.GetId(), out var currentUserId);
	bool isUserFarmer = false;
	if (User.Identity.IsAuthenticated)
	{
		isUserFarmer = await userService.IsUserFarmerAsync(currentUserId);
	}
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
	<li class="nav-item">
		<a  class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-light" asp-area="" asp-page="/Order">My Orders</a>
	</li>
	if (!isUserFarmer)
	{
		<li class="nav-item">
			<a class="nav-link text-light" asp-area="" asp-page="/Cart">My Cart</a>
		</li>
	}
	<li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
            <button  type="submit" class="nav-link btn btn-link text-light">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
