@using FarmersMarketApp.Infrastructure.Data.Models
@using FarmersMarketApp.Services.Contracts
@using FarmersMarketApp.Web.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using FarmersMarketApp.Common.Enums
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IFarmerService FarmerService
@inject IOrderService OrderService

@{
	var currentUserId = User.GetId();
	var firstName = string.Empty;
	int userProductsInOpenOrder = 0;
	if (!string.IsNullOrEmpty(currentUserId))
	{
		firstName = UserManager.Users.FirstOrDefault(u => u.Id == Guid.Parse(currentUserId)).FirstName;
		var userOrders = await OrderService.GetOrdersByUserIdAsync(currentUserId);
		if (userOrders != null && userOrders.Any())
		{
			userProductsInOpenOrder = userOrders.FirstOrDefault(o => o.Status == Status.Open) != null ? userOrders.FirstOrDefault(o => o.Status == Status.Open).Products.Count() : 0;
		}
	}
	var isUserFarmer = await FarmerService.GetFarmerIdByUserIdAsync(User.GetId());
}

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		@if (string.IsNullOrEmpty(isUserFarmer) && !User.IsInRole("Admin"))
		{
			<li class="nav-item d-flex justify-content-center">
				<a class="nav-link text-light bg-dark" asp-area="" asp-controller="Order" asp-action="All">
					<i class="fa-solid fa-cart-shopping ps-1 pe-1"></i>
					<span class="px-1">My Cart</span>
					@if (userProductsInOpenOrder == 0)
					{
						<span class="badge bg-light text-primary rounded-pill">@userProductsInOpenOrder</span>
					}
					else
					{
						<span class="badge bg-danger rounded-pill">@userProductsInOpenOrder</span>
					}
				</a>
			</li>
		}
		<li class="nav-item dropdown">
			@if (User.Identity.IsAuthenticated && !string.IsNullOrEmpty(firstName))
			{
				<a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hi, @firstName!</a>
				<div class="dropdown-menu" data-bs-popper="static">
					<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Change profile details</a>
					<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Email">Change email</a>
					<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change password</a>
				</div>
			}
		</li>
		<li class="nav-item">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = ""})">
				<button type="submit" class="nav-link btn btn-link text-light">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
		</li>
	}
</ul>
